<mat-toolbar fxLayout="row" color="primary">
    <img fxFlex src="../../../../assets/game_critic_logo.png" alt="Logo" class="logo">
    <span fxFlex>GameCritic</span>

    <div class="navbar-buttons">
        <button mat-button fxHide.xs routerLink="/home">
            <mat-icon>home</mat-icon>
            Home
        </button>

        <button mat-button fxHide.xs routerLink="/games">
            <mat-icon>games</mat-icon>
            Games
        </button>

        <button mat-button fxHide.xs>
            <mat-icon>domain</mat-icon>
            Publishers
        </button>

        <button mat-button fxHide.xs>
            <mat-icon>list</mat-icon>
            Genres
        </button>
    </div>
</mat-toolbar>