<mat-toolbar fxLayout="row" color="primary">
    <img fxFlex src="../../../../assets/game_critic_logo.png" alt="Logo" class="logo">
    <span fxFlex>GameCritic</span>

    <div class="navbar-buttons">
        <button mat-button fxHide.xs routerLink="/home">
            <mat-icon>home</mat-icon>
            Home
        </button>

        <button mat-button fxHide.xs routerLink="/games">
            <mat-icon>games</mat-icon>
            Games
        </button>

        <button mat-button fxHide.xs routerLink="/publishers">
            <mat-icon>domain</mat-icon>
            Publishers
        </button>

        <button mat-button fxHide.xs [matMenuTriggerFor]="menu">
            <mat-icon>list</mat-icon>
            Genres
        </button>
        <mat-menu #menu="matMenu">
            <button *ngFor="let genre of genres" mat-menu-item
                [routerLink]="['/genres',genre.id]">{{genre.name}}</button>
        </mat-menu>
    </div>
</mat-toolbar>