<mat-card class="example-card">
    <mat-card-title>
        <app-score-button [isScore]="false" [score]="review.mark" style="margin-right: 1em;"></app-score-button>
        {{ review.user.username }}
        <button mat-button color="warn" style="right:0px;float: right;" *ngIf="displayDeleteButton()">
            <mat-icon>delete</mat-icon> Delete
        </button>
        <button mat-button color="primary" style="right:0px;float: right;" *ngIf="isUsersReview()">
            <mat-icon>edit</mat-icon>Edit
        </button>

    </mat-card-title>
    <mat-card-content>
        <ng-container *ngIf="review.comment">
            <p>{{ review.comment }}</p>
        </ng-container>
        <ng-container *ngIf="!review.comment">
            <p style="color:red;text-align: center;">This review has no comment.</p>
        </ng-container>
    </mat-card-content>
    <mat-card-footer style="margin-top: -10px;">{{ review.creationDate | date }}</mat-card-footer>
</mat-card>