<div class="box">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="title">{{ game.title }}</mat-card-title>
            <mat-card-subtitle><a [routerLink]="['/publishers',game.publisher.id]">{{ game.publisher.name }}</a>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="display:inline-flex">
            <div mat-card-avatar class="example-header-image" style="background-color: #EAEAEA;"
                [style.background-image]="'url(' + getImageUrl(game.imageName) + ')'">
            </div>
            <div style="margin-left: 20px;margin-right: 20px;
            width: fit-content;">
                <h3 align="center"><strong>Summary</strong></h3>
                <p style="font-size: larger;">{{ game.summary }}</p>
            </div>

            <div class="details">
                <div class="score">
                    <app-score-button [score]="game.score"
                        style="width:50px;height:50px;font-size:larger;margin-right: 20px;">
                    </app-score-button>
                    <div *ngIf="game.score">
                        <p style="display:inline"><b>User Score</b></p>
                        <p>
                            Generally favorable reviews
                            based on <b style="color:green;"><i>{{pagedReviews?.total}}</i></b> Ratings
                        </p>
                    </div>
                </div>
                <br>
                <p *ngIf="game.genres">
                    <b>Genres</b> :
                    <ng-container *ngFor="let genre of game.genres;let indexOf=index;">
                        <a [routerLink]="['/genres',genre.id]" style="font-weight: normal;">{{ genre.name }}
                            <ng-container *ngIf="indexOf != game.genres.length-1"> , </ng-container>
                        </a>
                    </ng-container>
                </p>
                <p><strong>Release Date</strong> : {{ game.releaseDate | date }}</p>
                <p><strong>Price</strong> : {{ game.price | currency }}</p>
                <p><strong>Playtime</strong>:
                    <ng-container *ngIf="game.playtime > 0">
                        {{ game.playtime | timelapse }}
                    </ng-container>
                    <ng-container *ngIf="!game.playtime">
                        Multiplayer
                    </ng-container>
                </p>
                <div class="awards">
                    <ng-container *ngIf="game.awards">
                        <div class="head head_type_1">
                            <div class="head-wrap" style="text-align: center;">
                                <h2 class="module-title" style="color:white">AWARDS & RANKINGS</h2>
                            </div>
                        </div>
                        <div class="body">
                            <table class="rankings">
                                <tbody *ngIf="game.awards.length">
                                    <tr *ngFor="let ranking of game.awards">
                                        <td>
                                            <mat-icon style="color: rgb(255, 210, 48);">emoji_events</mat-icon>
                                        </td>
                                        <a [routerLink]="['/awards',ranking.award.id]">
                                            <td>#{{ ranking.rank }}</td>
                                            <td>{{ ranking.award | formatAward}}</td>
                                        </a>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!game.awards.length">
                                    <h2 style="text-align: center;">This game has no awards!</h2>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer style="text-align: center;margin-bottom: 5px;">
            <button mat-flat-button color="primary" (click)="writeReview()">Write Review</button>
        </mat-card-footer>
    </mat-card>
    <div class="review-section">
        <div class="head head_type_1">
            <div class="head-wrap" style="text-align: center;">
                <h2 class="module-title" style="color:white">USER REVIEWS</h2>
            </div>
        </div>
        <div [hidden]="!pagedReviews?.total">
            <mat-table matSort [dataSource]="dataSource">
                <ng-container matColumnDef="review">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let review">
                        <app-review-card [review]="review" [gameId]="game.id"></app-review-card>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="['review']"></mat-header-row>
                <mat-row mat-row *matRowDef="let row; columns : ['review'];"></mat-row>
            </mat-table>
            <mat-paginator [length]="pagedReviews?.total" pageSize="3" [pageSizeOptions]="[2,3,5,10]"></mat-paginator>
        </div>
        <ng-container *ngIf="!pagedReviews?.total">
            <div style="margin-top: 20px;" class="not-found">
                <span class="label danger">This game has no reviews</span>
            </div>
        </ng-container>
    </div>
</div>