.left-column {
    background-color: #3F51B5;
}

.right-column {
    background-color: whitesmoke;
}

.form-app-logo {
    transform: scale(3);
    color: #FF4081;
    margin-bottom: 36px;
}

.container-fluid {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-app-name {
    font-size: 56px;
    color: antiquewhite;
    font-weight: 800;
}

.form-app-description {
    color: white;
    letter-spacing: 2.3px;
}

.register-button {
    max-width: 200px;
    width: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

a:hover {
    color: rgb(184, 184, 70);
}

.icon {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

mat-form-field {
    width: 100%;
}
