<div class="games-container">
    <mat-toolbar-row style="margin-bottom: 50px;">
        <app-search-bar entity="game" (onSearch)="paginatedSearch($event)" style="margin: auto;"></app-search-bar>
        <button mat-mini-fab style="margin-right:10px; background-color:#e07c9e" [routerLink]="['/admin/editGame', 0]">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab style="margin-right:10px; background-color:darkgray"
            (click)="sc.text='';this.paginator.pageIndex = 0;paginatedSearch('')">
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-toolbar-row>

    <ng-container>
        <mat-table #table matSort [dataSource]="dataSource">
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
                <mat-cell *matCellDef="let game">
                    <b><a [routerLink]="['/games',game.id]" routerLinkActive="active">{{ game.title }}</a></b>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="releaseDate">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Release Date</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let game">
                    {{ game.releaseDate | date }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let game">
                    {{ game.price | currency }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="score">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Score</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let game">
                    <button mat-mini-fab
                        [color]="game.score > 8 ? 'success' : game.score > 5 ? 'accent' : game.score > 1 ? 'warn' : 'gray'">
                        {{ game.score ? game.score?.toFixed(1) : "tbd"}}
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Admin</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let game" style="justify-content:left;">
                    <button mat-mini-fab style="background-color:teal; min-height: 30px;   margin: 5px;"
                        [routerLink]="['/admin/editGame', game.id]" matTooltip="Update Game">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" style="min-height: 30px;  margin: 5px;"
                        (click)="openDialogForDeleting(game.id)" matTooltip="Delete Game">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" style="min-height: 30px;  margin: 5px;"
                        [routerLink]="['/admin/uploadGameImage',game.id]" matTooltip="Upload Image for Game">
                        <mat-icon>upload</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row mat-row *matRowDef="let row; columns : displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="pagedGames?.total" [pageSizeOptions]="[5,10,15,20]" pageSize="5" pageIndex="0">
        </mat-paginator>
    </ng-container>

    <ng-container *ngIf="!pagedGames?.total">
        <div style="margin-top: 50px;" class="not-found">
            <span class="label danger">No games found!</span>
        </div>
    </ng-container>
</div>