.games-container {
    width: 100%;
}

a {
    color: rgb(76, 57, 62);
}

a :visited {
    color: rgb(76, 57, 62);
}

a:hover {
    color: hotpink;
}

.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    color: white;
    padding: 18px;
    font-family: Arial;
    font-size: 1.2em;
}

.danger {
    background-color: #f44336;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
    color: #f0fff3;
    background-color: #6c3;
}

.mat-mini-fab.mat-accent {
    color: #f0fff3;
    background-color: #aeb018;
}

.mat-raised-button.mat-gray,
.mat-flat-button.mat-gray,
.mat-fab.mat-gray,
.mat-mini-fab.mat-gray {
    color: #f0fff3;
    background-color: rgb(170, 170, 170);
}